body{
    margin :auto;
    background:url(back2.jpg);
}

canvas{
background-color: #fff;
cursor: crosshair;
border: 1px solid #000000;
 }

.content {
    padding: 20px 20px 20px 20px;
    text-align: center;
    margin:auto;
}

h3{
    font-family: 'Open Sans', sans-serif;
}
.btns{
    padding: 20px;
}
.btns a{
     margin:auto;
    padding: 20px;
    
    text-decoration: none;
    list-style: none;
    display: inline;
    
    font-family: 'Open Sans', sans-serif;
   /* font-family: Arial, Helvetica, sans-serif;*/
    font-weight: 100;
    margin:auto;
    display: inline;
    text-decoration: none;
}
.btns #download{
    /* margin:right:150px; */
    text-decoration: none;
    list-style: none;
    display: inline;
    padding:10px;
    background-color: #ccc;
    border-radius: 2px;
    border:solid 1px #ccc;
    margin-left:30px;
    color:#000;
}
.btns input[type="button"]{
   
    border:solid 1px #ccc;
    padding: 10px 20px 10px 20px;
    
    border-radius: 3px;
    color: #000;
}
#jedna{
    background-color: #ee2e3e;
}
#dva{
    background-color: #406ffe;
}
